@media (min-width: 992px) {
    .text-center {
        text-align: center;
    }

    .abstandToButton {
        margin-bottom: 15px;
    }

    .abstandButtonToBottom {
        margin-bottom: 10px;
    }

    .wizardList {
        text-align: left;
        font-size: large;
        list-style-type: none;
    }

    .wizardList li {
        margin-top: 10px;
    }

    .wizardListTopMargin {
        margin-top: 20px;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-backdrop {
        background: none;
    }

    #slide-panel {
        position: fixed;
        float: right;
        text-align: left;
        margin-top: 8%;
        right: 40px;
        z-index: 10;
    }

    #opener {
        margin: 0px -40px 0px 0px;
        float:left;
        padding: 15px;
        border-radius: 0;
        background-color: Transparent;
        color: #000000;
        border: none;
        cursor:pointer;
        overflow: hidden;
    }

    #opener img {
        background: url("../images/wizard.png") no-repeat scroll 0 0 transparent;
        width: 60px;
        height: 60px;
        display: inline-block;
    }

    #content {
        position: absolute;
        float: right;
        margin-left: 110px;
        height: 550px;
        width: 500px;
        border: black;
    }

    .center {
        height: 310px;
        background: orange;
    }

    .contentPanel {
        height: 550px;
        width: 500px;
        overflow-y: scroll;
    }

    .marginTop {
        margin-top: 30px;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .text-center {
        text-align: center;
    }

    .abstandToButton {
        margin-bottom: 15px;
    }

    .abstandButtonToBottom {
        margin-bottom: 10px;
    }

    .wizardList {
        text-align: left;
        font-size: large;
        list-style-type: none;
    }

    .wizardList li {
        margin-top: 10px;
    }

    .wizardListTopMargin {
        margin-top: 20px;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-backdrop {
        background: none;
    }

    #slide-panel {
        position: fixed;
        float: right;
        text-align: left;
        margin-top: 10%;
        right: 35px;
        z-index: 10;
    }

    #opener {
        margin: 0px -35px 0px 0px;
        float:left;
        padding: 15px;
        border-radius: 0;
        background-color: Transparent;
        color: #000000;
        border: none;
        cursor:pointer;
        overflow: hidden;
    }

    #opener img {
        background: url("../images/wizard.png") no-repeat scroll 0 0 transparent;
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    #content {
        position: absolute;
        float: right;
        margin-left: 100px;
        height: 300px;
        width: 500px;
        border: black;
    }

    .center {
        height: 290px;
        background: orange;
    }

    .contentPanel {
        height: 300px;
        width: 500px;
        overflow-y: scroll;
    }

    .marginTop {
        margin-top: 0%;
    }
}

@media (max-width: 576px) {
    .text-center {
        text-align: center;
    }

    .abstandToButton {
        margin-bottom: 10px;
    }

    .abstandButtonToBottom {
        margin-bottom: 10px;
    }

    .wizardList {
        text-align: left;
        font-size: medium;
        list-style-type: none;
        margin:0;
        padding:0;
        overflow:hidden;
    }

    .wizardList li {
        float:left;
        margin-top:2%;
        width:100%;
    }

    .wizardList li a {
        white-space: normal;
        width:100%;
    }

    .wizardListTopMargin {
        margin-top: 10px;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-backdrop {
        background: none;
    }

    #slide-panel {
        position: fixed;
        float: right;
        text-align: left;
        margin-top:20%;
        right: 20px;
        z-index: 10;
    }

    #opener {
        margin: 0px -20px 0px 0px;
        padding: 5px;
        float:left;
        border-radius: 0;
    }

        #opener img {
        background: url("../images/wizard.png") no-repeat scroll 0 0 transparent;
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    #content {
        position: absolute;
        float: right;
        margin-left: 100px;
        height: 320px;
        width: 270px;
        border: black;
    }

    .center {
        height: 300px;
        background: orange;
    }

    .contentPanel {
        height: 320px;
        width: 270px;
        overflow-y: scroll;
    }

    .marginTop {
        margin-top: 20px;
    }

    #questionText {
        width:100%;
        font-size:medium;
    }
}

.collapsibleList li{
  cursor           : auto;
}

li.collapsibleListOpen{
  cursor           : pointer;
}

li.collapsibleListClosed{
  cursor           : pointer;
}

.panel-heading-sm{
    height: 28px;
    padding: 4px 10px;
}

.margin-left{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.notes{
    list-style:circle;
    margin-top:20px;
}

.marginImage{
    margin: 0 auto;
}

.wrap{
    flex-wrap: wrap;
}