@media (min-width: 1280px) {
    .text-center {
        text-align: center;
    }

    .abstandToButton {
        margin-bottom: 15px;
    }

    .abstandButtonToBottom {
        margin-bottom: 10px;
    }

    .wizardList {
        text-align: left;
        font-size: large;
        list-style-type: none;
    }

    .wizardList li {
        margin-top: 10px;
    }

    .wizardListTopMargin {
        margin-top: 20px;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-backdrop {
        background: none;
    }

    #slide-panel {
        position: fixed;
        float: right;
        text-align: left;
        margin-top: 5%;
        right: 50px;
        z-index: 10;
    }

    #opener {
        margin: 0px -50px 0px 0px;
        float:left;
        padding: 15px;
        border-radius: 0;
    }

    #content {
        position: absolute;
        float: right;
        margin-left: 50px;
        height: 400px;
        width: 500px;
        border: black;
    }

    .center {
        height: 310px;
        background: orange;
    }

    .contentPanel {
        height: 400px;
        width: 500px;
        overflow-y: scroll;
    }

    .marginTop {
        margin-top: 30px;
    }
}

@media (min-width: 320px) and (max-width: 1279px) {
    .text-center {
        text-align: center;
    }

    .abstandToButton {
        margin-bottom: 10px;
    }

    .abstandButtonToBottom {
        margin-bottom: 10px;
    }

    .wizardList {
        text-align: left;
        font-size: medium;
        list-style-type: none;
        margin:0;
        padding:0;
        overflow:hidden;
    }

    .wizardList li {
        float:left;
        margin-top:2%;
        width:100%;
    }

    .wizardList li a {
        white-space: normal;
        width:100%;
    }

    .wizardListTopMargin {
        margin-top: 10px;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-backdrop {
        background: none;
    }

    #slide-panel {
        position: fixed;
        float: right;
        text-align: left;
        margin-top:20%;
        right: 50px;
        z-index: 10;
    }

    #opener {
        margin: 0px -50px 0px 0px;
        padding: 15px;
        float:left;
        border-radius: 0;
    }

    #content {
        position: absolute;
        float: right;
        margin-left: 50px;
        height: 320px;
        width: 270px;
        border: black;
    }

    .center {
        height: 300px;
        background: orange;
    }

    .contentPanel {
        height: 320px;
        width: 270px;
        overflow-y: scroll;
    }

    .marginTop {
        margin-top: 20px;
    }

    #questionText {
        width:100%;
        font-size:medium;
    }
}

.collapsibleList li{
  cursor           : auto;
}

li.collapsibleListOpen{
  cursor           : pointer;
}

li.collapsibleListClosed{
  cursor           : pointer;
}

.hide{
  display:none;
}