
{% extends 'bsi/article_base.html' %}
{% block contents_article %}

    <div class=" col-sm-4">
          {% include "bsi/includes/treeview.html" %}
        </div>
        <!-- THIS IS NOT NEEDED, THIS IS JUST THE CONTENT OF THE DEMO -->
        <div class="col-xs-12 col-sm-8">
         {% block pagetitle %}
                <!--<p class="small text-muted">This article was last modified:{{ article.current_revision.modified }}</p>-->
            {% endblock %}

            <div>
             {% if urlpath.slug ==  'bsi' or urlpath.slug ==  'threats' or urlpath.slug ==  'implementationnotes' or  urlpath.slug ==  'components'  %}

              <h2>BSI/IT Baseline Security Compendium </h2>
                <p style="text-align: justify">Note:
                The first edition of the IT-Grundschutz Compendium has been published. migrated the most commonly used building blocks of the 15th Supplemental Delivery of IT-Grundschutz Catalogs. The second edition expands the IT-Grundschutz Compendium with new modules and other migrated components. A unique IT-Grundschutz Compendium will be distributed to building blocks that are not part of the first edition, but will be recreated with the second edition. For target objects, in the IT-Grundschutz Compendium there are no components yet, the corresponding modules of the IT-Grundschutz Catalogs should be used.

                An overview of the structure of the first version of the IT-Grundschutz Compendium and the associated 80 building blocks is provided by Mindmap.</p>



             {% else %}
                 <h2>{{ article.current_revision.title}}</h2>
                 <div style="word-wrap: break-word;text-align: justify"> {{ article.render }} </div>
                    {% include "bsi/includes/seealso.html" %}

              {% endif %}

            </div>


            <hr>
        <!--if there is article above, then include this
            {% include "bsi/includes/crossreference.html" %}
            <hr>-->

        </div>

{% endblock %}

