{% load sekizai_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="0CxtCFoadsG6w5hvYqL93Q1vtAxIFWEWTHDy6pA887o" />

    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,700i" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "bsi/bootstrap/css/wiki-bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "bsi/js/jquery.min.js" %}"></script>
    <script src="{% static "bsi/js/CollapsibleLists.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="{% static "bsi/js/core.js" %}"></script>
    <script src="{% static "bsi/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{% static "bsi/js/respond.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/style.css' %}"/>
    <script src="{% static "bsi/js/bootstrap-treeview.js" %}"></script>
    <script src="{% static 'bsi/js/wizard/wizard.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/css/bootstrap-treeview.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/css/wizard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/css/animate.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/css/footer.css' %}"/>


    <!--Icon -->
    <link href="{% static 'bsi/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <title>ISAM</title>
    {% render_block "css" %}
</head>


<body class="img-cover">

<div class="wrapper">
    <nav class="navbar navbar-toggleable-md navbar-fixed-top navbar-default main-navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ISAM</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'get_article' path='bsi' %}">BSI Compendium</a>
                </li>
                <li class="">
                      <a href="{% url 'get_article' path='uga' %}">User Articles</a>
                </li>
                <li class="">
                    <a href="{% url 'archive_dir' path='' %}">Archive</a>
                </li>

            </ul>

         <div id="search-expanding">
                                 <form class="navbar-form navbar-right" role="search" id="search-input" method="GET" action="{% url 'bsisearch' %}">
                                     <div class="form-group navbar-right">
                                          <input type="search" class="form-control search-query" name="q" placeholder="search"/>
                                     </div>
                                 </form>
                             <div class="navbar-form navbar-right">
                                  <a id="icon-search" style="color: #FFFFFF">
                                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                  </a>
                                 </div>
                             </div>

             <form class="navbar-form navbar-right search-expanding-dis" id="wiki-search-form" method="GET" action="{% url 'bsisearch' %}">

                <div class="form-group inner-addon right-addon">
                <i class="glyphicon glyphicon-search top4"></i>


                    <input type="search" class="form-control search-query" name="q" placeholder="search"/>
                </div>
            </form>
            <div class="navbar-right">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                 <span class="fa fa-user"></span>
                                {{ user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.is_superuser %}
                                <li>
                                    <a href="/admin-control">
                                        <i class="fa fa-wrench"></i>
                                        Admin Settings
                                    </a>
                                </li>
                                {% endif %}

                                <li>
                                    <a href="{% url 'password_change' %}">
                                        <i class="fa fa-gear"></i>
                                        Account Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="fa fa-power-off"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="no-dropdown">
                            <a href="{% url 'login' %}">Log in</a>
                        </li>
                        {% if "ACCOUNT_HANDLING" %}
                            <li>
                                <a href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</nav>
    <div class="row">
        <div class="col-md-12">
            <div id="slide-panel">
                <a href="#" class="btn" id="opener"><img src="../../static/bsi/images/wizard.png"></a>
                <div id="content" class="panel panel-primary">
                    <div class="panel panel-default contentPanel">
                        <div class="panel-heading">
                            Virtual Assistant
                            <div class="pull-right">
                                <button id="topicBack" class="btn btn-sm disabled"><i
                                        class="glyphicon glyphicon-arrow-left"></i></button>
                                <button id="restart" class="btn btn-sm" type="reset" data-toggle="tooltip"
                                        data-placement="top" title="Restart"><i class="glyphicon glyphicon-repeat"></i>
                                </button>
                                <form action="{% url 'wizardInfo' %}" style="display: inline">
                                    <button id="help" class="btn btn-sm" type="submit" data-toggle="tooltip"
                                        data-placement="top" title="Info"><i class="glyphicon glyphicon-info-sign"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid marginTop">
                                <div class="row">
                                    <div class="col-md-12 abstandToButton">
                                        <h4 class="text-center font-weight-bold" id="questionText"><span
                                                id="question"></span> <span id="topic"></span></h4>
                                    </div>
                                </div>

                                <div class="row abstandButtonToBottom" >
                                    <ul class="wizardList">
                                        <li class="wizard-buttons">
                                            <a id="yesButton" class="btn btn-success btn-block validFalse" >Yes</a>
                                        </li>
                                        <li>
                                            <a id="noButton" class="btn btn-success btn-block validFalse" >No</a>
                                        </li>
                                        <li>
                                            <a id="dontKnowButton" class="btn btn-success disabled btn-block validFalse" >I don't know</a>
                                        </li>
                                    </ul>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="panel-group center-block">
                                      <div class="panel panel-default " id="topics">
                                        <div class="panel-heading">
                                          <h6 class="panel-title" id="topicList">
                                              <a data-toggle="collapse" href="#collapse1"><span id="topicIcon" class="glyphicon glyphicon-plus"></span> Articles about <span
                                                    id="topicWord"></span>:</a>
                                          </h6>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                          <ul id="articleTopicList" class="list-group">
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="panel-group center-block " id="results">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title" id="resultList">
                                            <a  id="toggle" data-toggle="collapse" data-target="#collapseResults"><span id="resultIcon" class="glyphicon glyphicon-plus"></span> Results:</a>
                                          </h4>
                                        </div>
                                        <div id="collapseResults" class="panel-collapse collapse">
                                          <ul id="list" class="list-group">
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% block bsi_contents %}

{% endblock %}

<a href="#" id="scroll" style="display: none;"><<span class="glyphicon glyphicon-triangle-top"></span>></a>
</div>
<div class="push"></div>
  </div>
<footer class="footer">
    <div class="row">
            <ul class="text-center list-inline">

                <li>
                    <p class="text-primary"> Copyright © 2017 All rights reserved</p>
                </li>

                <li>
                    <a class="text-primary" href="{% url 'about' %}">About</a>
                </li>

                <li>
                    <a class="text-primary" href="{% url 'faq' %}">FAQ</a>
                </li>

                <li>
                    <a class="text-primary" href="{% url 'contact' %}">Contact</a>
                </li>

            </ul>
        </div>

    </div>
</footer>

{% render_block "js" %}

</body>

</html>

<script>
    function clearTreeStorage() {
        var regexBSI = new RegExp('/bsi\/.*\/.*|/bsi');
        var url = location.pathname;
        var match = url.match(regexBSI);
        if(match != null && match.length != 0){
        } else {
            localStorage.removeItem('selectedNode');
        }
    }
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        $('#scroll').click(function () {
            $("html, body").animate({scrollTop: 0}, 600);
            return false;
        });
        clearTreeStorage();
        $('.panel-title').click(function () {
            valid = false;
        });
        if(localStorage.getItem('visible')!== null && stringToBoolean(localStorage.getItem('visible')) === true){
            console.log('darf nicht');
        } else {
            console.log('hier');
            $('#opener').addClass('slideInRight animated');
            var myTimer = setInterval(function(){
                addSwing();
            },800);
        }
        function addSwing() {
            clearInterval(myTimer)
            $('#opener').removeClass('slideInRight animated');
            $('#opener').addClass('animated swing');
         }
        $('.validFalse').click(function () {
            valid = false;
            console.log('Klappt');
        })
    });
    $(document).ready(function () {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        initWizardsComponents();
    });
    $(document).ready(function() {
    $('#search-expanding').click(function () {
        if ( $(this).is(".expanded") ) {
            $(this).removeClass('expanded');
            $('#search-input').animate({width: 0}, function(){
                $('#search-input').hide();
                $('#icon-search').show();
            });
        }
        else {
            $(this).addClass('expanded');
            $('#icon-search').hide();
            $('#search-input').show().animate({width: 200});
            $("#search-input input").focus();
        }
    })
    $("#search-input input").blur(function () {
        $('#search-expanding').click();
    });
});
</script>
