{% load sekizai_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    {% load staticfiles %}
    <link href="{% static "bsi/bootstrap/css/wiki-bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "bsi/js/jquery.min.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="{% static "bsi/js/core.js" %}"></script>
    <script src="{% static "bsi/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{% static "bsi/js/respond.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bsi/css/wizard.css' %}"/>
    <script src="{% static "bsi/js/bootstrap-treeview.js" %}"></script>
    <script src="{% static 'bsi/js/wizard/wizard.js' %}"></script>
    <script src="{% static 'bsi/css/bootstrap-treeview.css' %}"></script>
    <!--Icon -->
    <link href="{% static 'bsi/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <title>SEEL</title>
    {% render_block "css" %}
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SEEL</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'get_article' path='bsi' %}">BSI Compendium</a>
                </li>
                <li class="">
                    <a href="{% url 'get_article' path='uga' %}">UG Articles</a>
                </li>
                <li class="">
                    <a href="{% url 'archive_dir' path='' %}">Archive</a>
                </li>

            </ul>
            <form class="navbar-form navbar-right" id="wiki-search-form" method="GET" action="{% url 'bsisearch' %}">
                <div class="form-group inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control search-query" name="q" placeholder="search"/>
                </div>
            </form>
            <div class="navbar-right">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="badge notification-cnt">0</span>
                                {{ user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.is_superuser %}
                                <li>
                                    <a href="/admin/">
                                        <i class="fa fa-wrench"></i>
                                        Admin Settings
                                    </a>
                                </li>
                                {% endif %}

                                <li>
                                    <a href="{% url 'password_change' %}">
                                        <i class="fa fa-gear"></i>
                                        Account Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="fa fa-power-off"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'login' %}">Log in</a>
                        </li>
                        {% if "ACCOUNT_HANDLING" %}
                            <li>
                                <a href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</nav>
<main>
    <div class="row">
        <div class="col-md-12">
            <div id="slide-panel">
                <a href="#" class="btn btn-warning" id="opener"><i class="icon-magic-wand text-primary"></i></a>
                <div id="content" class="panel panel-primary">
                    <div class="panel panel-default contentPanel">
                        <div class="panel-heading">
                            Wizard
                            <div class="pull-right">
                                <button id="topicBack" class="btn btn-sm disabled"><i
                                        class="glyphicon glyphicon-arrow-left"></i></button>
                                <button id="restart" class="btn btn-sm" type="reset" data-toggle="tooltip"
                                        data-placement="top" title="Restart"><i class="glyphicon glyphicon-repeat"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid marginTop">
                                <div class="row">
                                    <div class="col-md-12 abstandToButton">
                                        <h4 class="text-center font-weight-bold" id="questionText"><span
                                                id="question"></span> <span id="topic"></span></h4>
                                    </div>
                                </div>

                                <div class="row abstandButtonToBottom" >
                                    <ul class="wizardList">
                                        <li class="wizard-buttons">
                                            <a id="yesButton" class="btn btn-primary btn-block" >Yes</a>
                                        </li>
                                        <li>
                                            <a id="noButton" class="btn btn-primary btn-block" >No</a>
                                        </li>
                                        <li>
                                            <a id="dontKnowButton" class="btn btn-primary disabled btn-block" >I don't know</a>
                                        </li>
                                    </ul>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-9">
                                    <ul id="list">
                                    </ul>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% block bsi_contents %}

{% endblock %}

<a href="#" id="scroll" style="display: none;"><<span class="glyphicon glyphicon-triangle-top"></span>></a>
<footer class="Footer">
    <div class="container">
        <div class="row">
            <ul class="menu list-inline">

                <li>
                    <a> Copyright © 2017 All rights reserved</a>
                </li>

                <li>
                    <a href="#">About</a>
                </li>

                <li>
                    <a href="#">FAQ</a>
                </li>

                <li>
                    <a href="#">Contact</a>
                </li>

            </ul>
        </div>

    </div>
</footer>

{% render_block "js" %}

</body>

</html>

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        $('#scroll').click(function () {
            $("html, body").animate({scrollTop: 0}, 600);
            return false;
        });
    });

    $(document).ready(function () {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        initWizardsComponents();
    });
</script>
