{% extends 'bsi/base.html'%}
{% block bsi_contents %}
<form action="#" class="form-horizontal" method="POST" >
<div class="container" style="margin-top:60px">
  <div id = "div_id_title" class="form-group">
    <div class ="wiki-label col-xs-3 col-lg-2">
      <label class ="control-label requiredField" for ="id_title">Title</label>
    </div>
    <div class="wiki-control col-xs-9 col-lg-10">
      <input id = "id_title" name ="title" required ="" type="text">
    </div>
  </div>
  <div id = "div_id_slag" class="form-group">
    <div class ="wiki-label col-xs-3 col-lg-2">
      <label class ="control-label requiredField" for ="id_slag">slag</label>
    </div>
    <div class="wiki-control col-xs-9 col-lg-10">
      <div>
        <div>
          <div id="marItUpId_content" class="markItUp">
            <div class="markItUpContainer">
              <div class ="markItUpHeader"></div>
              <textarea id="id_content" class="markItUp markItUpEditor" cols="40" name="content" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}