{% extends 'bsi/base.html' %} {% block bsi_contents %}
    {% include "bsi/includes/update.html" %}


    <header class="">
        <div class="container text-center">
            <div class="row">

                <h1 style="font-family: 'Noto Sans', sans-serif;font-weight: bold;">Welcome to ISAM!</h1>
                {% load staticfiles %}
                <img src="{% static 'bsi/images/Icons-AFGB-top-flag.png' %}" style="max-width: 40%">
                <h4 style="font-family: 'Noto Sans', sans-serif;font-style:italic;">- Information Security Advice Manual -</h4>

             <p style="font-family: 'Noto Sans', sans-serif;font-weight: lighter;">
                    <mark>This platform provides an English version of the basic <a
                        href="https://www.bsi.bund.de/DE/Themen/ITGrundschutz/ITGrundschutzKompendium/itgrundschutzKompendium_node.html">
                        <strong>IT protection compendium</strong> </a>  by the <a
                        href="https://www.bsi.bund.de/EN/TheBSI/thebsi_node.html"><strong>German Federal Office for Information
                        Security</strong></a>.</mark></p>
                    <br/>

                 <p style="font-family: 'Noto Sans', sans-serif;font-weight: lighter;font-size: 15px "><mark>
                        First time you visit this platform? <a href="" ><strong> Click here!</strong></a>
                    <br/>
                    You do not know exactly where or what your IT security problem is?
                    <br/>
                        Let the <a href="/wizardinfo?"><strong>“Visual Assistant”</strong></a> help you or ask the
                        community on the <a href="/information_page"><strong>"Information Page”</strong></a>.
                </mark></p>


                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                        <form id="wiki-search-form-big" method="GET" action="{% url 'bsisearch' %}">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" value="" class="form-control form-control-lg" name="q"
                                       placeholder="Search BSI article ">
                                <div class="input-group-btn bs-dropdown-to-select-group">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle bs-dropdown-to-select"
                                            data-toggle="dropdown">
                                        <span data-bind="bs-drp-sel-label">All</span>
                                        <input type="hidden" name="f" data-bind="bs-drp-sel-value"
                                               value="">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" style="">
                                        <li data-value="1"><a href="#">All</a></li>
                                        <li data-value="2"><a href="#">Components</a></li>
                                        <li data-value="3"><a href="#">Threats</a></li>
                                        <li data-value="4"><a href="#">Implementation Notes</a></li>
                                        <li data-value="5"><a href="#">Archive</a></li>
                                        <li data-value="6"><a href="#">User Articles</a></li>
                                    </ul>
                                    <button type="submit" class="btn btn-success"> search</button>
                                </div>
                            </div>
                            </br>
                            <!--<button type="submit" class="btn btn-success btn-lg">search</button>-->
                        </div>
                    </form>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <script>
        $(document).ready(function (e) {
            $(document).on('click', '.bs-dropdown-to-select-group .dropdown-menu li', function (event) {
                var $target = $(event.currentTarget);
                $target.closest('.bs-dropdown-to-select-group')
                    .find('[data-bind="bs-drp-sel-value"]').val($target.attr('data-value'))
                    .end()
                    .children('.dropdown-toggle').dropdown('toggle');
                $target.closest('.bs-dropdown-to-select-group')
                    .find('[data-bind="bs-drp-sel-label"]').text($target.context.textContent);
                return false;
            });
        });
    </script>

{% endblock %}
