{% extends 'bsi/base.html' %} {% block bsi_contents %}
 {% include "bsi/includes/update.html" %}


<header class="text-white">
        <div class="container text-center">
            <div class="row">



                      <h1>Welcome to XYZ!</h1>
                  <p class="lead" >
                      This platform provides an English version of the basic <a href="https://www.bsi.bund.de/DE/Themen/ITGrundschutz/ITGrundschutzKompendium/itgrundschutzKompendium_node.html"> IT protection compendium </a> <br/> by the <a href="https://www.bsi.bund.de/EN/TheBSI/thebsi_node.html" >German Federal Office for Information Security</a>.
                      <br/>
                      <br/>
                        First time you visit this platform? <a href="" style="font-weight: bold"> here!</a>
                      <br/>
                      You do not know exactly where or what your IT security problem is?
                      <br/>
                      Let the <a href="/wizardinfo?" style="font-weight: bold">“Visual Assistant”</a> help you or  ask  the community on the <a href="/information_page" style="font-weight: bold">“Information Page”</a>.
                  </p>


                <br>

                    <form id="wiki-search-form-big" method="GET" action="{% url 'bsisearch' %}">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" value="" class="form-control form-control-lg" name="q"
                                       placeholder="Search BSI article">
                                <div class="input-group-btn bs-dropdown-to-select-group">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle bs-dropdown-to-select"
                                            data-toggle="dropdown">
                                        <span data-bind="bs-drp-sel-label">All</span>
                                        <input type="hidden" name="f" data-bind="bs-drp-sel-value"
                                               value="">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" style="">
                                        <li data-value="1"><a href="#">All</a></li>
                                        <li data-value="2"><a href="#">Components</a></li>
                                        <li data-value="3"><a href="#">Threats</a></li>
                                        <li data-value="4"><a href="#">Implementation Notes</a></li>
                                        <li data-value="5"><a href="#">Archive</a></li>
                                        <li data-value="6"><a href="#">User Articles</a></li>
                                    </ul>
                                </div>
                            </div>
                            </br>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                  </div>




        </div>
    </header>

    <script>
        $(document).ready(function (e) {
            $(document).on('click', '.bs-dropdown-to-select-group .dropdown-menu li', function (event) {
                var $target = $(event.currentTarget);
                $target.closest('.bs-dropdown-to-select-group')
                    .find('[data-bind="bs-drp-sel-value"]').val($target.attr('data-value'))
                    .end()
                    .children('.dropdown-toggle').dropdown('toggle');
                $target.closest('.bs-dropdown-to-select-group')
                    .find('[data-bind="bs-drp-sel-label"]').text($target.context.textContent);
                return false;
            });
        });
    </script>

{% endblock %}
