{% extends 'bsi/base.html' %} {% load wiki_tags i18n humanize %}
{% block wiki_pagetitle %}{% trans "Search results for:"
    %} {{ search_query }}{% endblock %} {% block bsi_contents %}
    <div class="container margin-after-nav">
        <h1 class="page-header">
            {% trans "Search results for:" %} {{ search_query }}
        </h1>
        <div class="form-group">
            <p class="lead">
            <form id="wiki-search-form-big" method="GET" action="{% url 'bsisearch' %}">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control search-query" name="q" value="{{ search_query }}"/>
                        <div class="input-group-btn bs-dropdown-to-select-group">
                            <button type="button" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select"
                                    data-toggle="dropdown">
                                <span data-bind="bs-drp-sel-label">All</span>
                                <input type="hidden" name="f" data-bind="bs-drp-sel-value" value="">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li data-value="1" class=""><a href="#">All</a></li>
                                <li data-value="2" class=""><a href="#">Componenets</a></li>
                                <li data-value="3" class=""><a href="#">Threats</a></li>
                                <li data-value="4" class=""><a href="#">Implementation Notes</a></li>
                                <li data-value="5" class=""><a href="#">Archive</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </form>

            {% blocktrans with paginator.object_list.count as cnt %}Your search returned
                <strong>{{ cnt }}</strong> results.{% endblocktrans %}</p>
            <div class="clearfix"></div>
            </p>
        </div>

        <table class="table table-striped">
            <tr>
                <th style="width:55%">Title</th>
                <!-- trans -->
                <th>Category</th>
                <th>Last modified</th>
            </tr>
            {% for article in articles %} {% block wiki_search_loop %}
                {% for urlpath in article.urlpath_set.all %}
                    <tr>
                        <td>
                            <small class="muted"><a href="{% url 'get_article' path=urlpath.path %}"><strong>{{ article.current_revision.title }}</strong>
                                   <br/>
                             /{{ urlpath.path }}
                               </a></small>

                            {% if article.current_revision.deleted %}
                                <span class="fa fa-trash"></span>
                            {% endif %} {% if article.current_revision.locked %}
                            <span class="fa fa-lock"></span>
                        {% endif %}
                            {% if urlpath %}
                                <p class="muted">
                                    <small>{{ article.render|get_content_snippet:search_query }}</small>
                                </p>
                            {% endif %}
                        </td>

                        <td>
                           {% if urlpath.parent.slug == 'uga' %}
                            <small>User article</small>
                           {% elif urlpath.parent.parent.slug == 'archive' %}
                            <small>Archive article</small>
                            {% else %}
                            <small class="muted"> {{urlpath.bsi.articleType}}</small>
                            {% endif %}
                        </td>
                        <td style="">
                            <small class="muted">{{ article.current_revision.created|naturaltime }}</small>
                        </td>
                    </tr>
                {% endfor %}

            {% endblock %} {% empty %}
                <tr>
                    <td colspan="100">
                        <em>There are no articles in this level</em>
                    </td>
                </tr>
            {% endfor %}
        </table>


{% include "bsi/includes/pagination.html" %}


    </div>

    <script>
        $(document).ready(function (e) {
            $(document).on('click', '.bs-dropdown-to-select-group .dropdown-menu li', function (event) {
                var $target = $(event.currentTarget);
                $target.closest('.bs-dropdown-to-select-group')
                    .find('[data-bind="bs-drp-sel-value"]').val($target.attr('data-value'))
                    .end()
                    .children('.dropdown-toggle').dropdown('toggle');
                $target.closest('.bs-dropdown-to-select-group')
                    .find('[data-bind="bs-drp-sel-label"]').text($target.context.textContent);
                return false;
            });
        });

$(document).ready(function() {
  var btnGroup = $("span[data-bind='bs-drp-sel-label']");
  localStorage.setItem('searchToken', btnGroup.text());

  if (localStorage.getItem(('searchTocken') !== undefined)){
      btnGroup.text(localStorage.getItem('searchToken'));
  }
  $("a[href='#']").click(function(){
      localStorage.setItem('searchToken', $(this).text());
  })
});
    </script>


{% endblock %}
