*.pyc

*~
__pycache__

myvenv

db.sqlite3

/static

.DS_Store

.idea

*.log
programming/bsiCrawler/content/B 1.0 Sicherheitsmanagement.json
programming/bsiCrawler/content/B 1.0 Sicherheitsmanagement.txt
programming/bsiCrawler/content/B 1.1 Organisation.json
programming/bsiCrawler/content/B 1.1 Organisation.txt
programming/bsiCrawler/content/B 1.10 Standardsoftware.json
programming/bsiCrawler/content/B 1.10 Standardsoftware.txt
programming/bsiCrawler/content/B 1.11 Outsourcing.json
programming/bsiCrawler/content/B 1.11 Outsourcing.txt
programming/bsiCrawler/content/B 1.12 Archivierung.json
programming/bsiCrawler/content/B 1.12 Archivierung.txt
programming/bsiCrawler/content/B 1.13 Sensibilisierung und Schulung zur Informationssicherheit.json
programming/bsiCrawler/content/B 1.13 Sensibilisierung und Schulung zur Informationssicherheit.txt
"programming/bsiCrawler/content/B 1.14 Patch- und \303\204nderungsmanagement.json"
"programming/bsiCrawler/content/B 1.14 Patch- und \303\204nderungsmanagement.txt"
"programming/bsiCrawler/content/B 1.15 L\303\266schen und Vernichten von Daten.json"
"programming/bsiCrawler/content/B 1.15 L\303\266schen und Vernichten von Daten.txt"
programming/bsiCrawler/content/B 1.16 Anforderungsmanagement.json
programming/bsiCrawler/content/B 1.16 Anforderungsmanagement.txt
programming/bsiCrawler/content/B 1.17 Cloud-Nutzung.json
programming/bsiCrawler/content/B 1.17 Cloud-Nutzung.txt
"programming/bsiCrawler/content/B 1.18 Identit\303\244ts- und Berechtigungsmanagement.json"
"programming/bsiCrawler/content/B 1.18 Identit\303\244ts- und Berechtigungsmanagement.txt"
programming/bsiCrawler/content/B 1.2 Personal.json
programming/bsiCrawler/content/B 1.2 Personal.txt
programming/bsiCrawler/content/B 1.3 Notfallmanagement.json
programming/bsiCrawler/content/B 1.3 Notfallmanagement.txt
programming/bsiCrawler/content/B 1.4 Datensicherungskonzept.json
programming/bsiCrawler/content/B 1.4 Datensicherungskonzept.txt
programming/bsiCrawler/content/B 1.5 Datenschutz.json
programming/bsiCrawler/content/B 1.5 Datenschutz.txt
programming/bsiCrawler/content/B 1.6 Schutz vor Schadprogrammen.json
programming/bsiCrawler/content/B 1.6 Schutz vor Schadprogrammen.txt
programming/bsiCrawler/content/B 1.7 Kryptokonzept.json
programming/bsiCrawler/content/B 1.7 Kryptokonzept.txt
"programming/bsiCrawler/content/B 1.8 Behandlung von Sicherheitsvorf\303\244llen.json"
"programming/bsiCrawler/content/B 1.8 Behandlung von Sicherheitsvorf\303\244llen.txt"
programming/bsiCrawler/content/B 1.9 Hard- und Software-Management.json
programming/bsiCrawler/content/B 1.9 Hard- und Software-Management.txt
"programming/bsiCrawler/content/B 2.1 Allgemeines Geb\303\244ude.json"
"programming/bsiCrawler/content/B 2.1 Allgemeines Geb\303\244ude.txt"
programming/bsiCrawler/content/B 2.10 Mobiler Arbeitsplatz.json
programming/bsiCrawler/content/B 2.10 Mobiler Arbeitsplatz.txt
"programming/bsiCrawler/content/B 2.11 Besprechungs-, Veranstaltungs- und Schulungsr\303\244ume.json"
"programming/bsiCrawler/content/B 2.11 Besprechungs-, Veranstaltungs- und Schulungsr\303\244ume.txt"
programming/bsiCrawler/content/B 2.12 IT-Verkabelung.json
programming/bsiCrawler/content/B 2.12 IT-Verkabelung.txt
programming/bsiCrawler/content/B 2.2 Elektrotechnische Verkabelung.json
programming/bsiCrawler/content/B 2.2 Elektrotechnische Verkabelung.txt
"programming/bsiCrawler/content/B 2.3 B\303\274roraum - Lokaler Arbeitsplatz.json"
programming/bsiCrawler/content/B 2.4 Serverraum.json
programming/bsiCrawler/content/B 2.4 Serverraum.txt
"programming/bsiCrawler/content/B 2.5 Datentr\303\244gerarchiv.json"
"programming/bsiCrawler/content/B 2.5 Datentr\303\244gerarchiv.txt"
"programming/bsiCrawler/content/B 2.6 Raum f\303\274r technische Infrastruktur.json"
"programming/bsiCrawler/content/B 2.6 Raum f\303\274r technische Infrastruktur.txt"
"programming/bsiCrawler/content/B 2.7 Schutzschr\303\244nke.json"
"programming/bsiCrawler/content/B 2.7 Schutzschr\303\244nke.txt"
"programming/bsiCrawler/content/B 2.8 H\303\244uslicher Arbeitsplatz.json"
"programming/bsiCrawler/content/B 2.8 H\303\244uslicher Arbeitsplatz.txt"
programming/bsiCrawler/content/B 2.9 Rechenzentrum.json
programming/bsiCrawler/content/B 2.9 Rechenzentrum.txt
programming/bsiCrawler/content/B 3.101 Allgemeiner Server.json
programming/bsiCrawler/content/B 3.101 Allgemeiner Server.txt
programming/bsiCrawler/content/B 3.102 Server unter Unix.json
programming/bsiCrawler/content/B 3.102 Server unter Unix.txt
programming/bsiCrawler/content/B 3.107 S-390- und zSeries-Mainframe.json
programming/bsiCrawler/content/B 3.108 Windows Server 2003.json
programming/bsiCrawler/content/B 3.108 Windows Server 2003.txt
programming/bsiCrawler/content/B 3.109 Windows Server 2008.json
programming/bsiCrawler/content/B 3.109 Windows Server 2008.txt
programming/bsiCrawler/content/B 3.201 Allgemeiner Client.json
programming/bsiCrawler/content/B 3.201 Allgemeiner Client.txt
programming/bsiCrawler/content/B 3.202 Allgemeines nicht vernetztes IT-System.json
programming/bsiCrawler/content/B 3.202 Allgemeines nicht vernetztes IT-System.txt
programming/bsiCrawler/content/B 3.203 Laptop.json
programming/bsiCrawler/content/B 3.203 Laptop.txt
programming/bsiCrawler/content/B 3.204 Client unter Unix.json
programming/bsiCrawler/content/B 3.204 Client unter Unix.txt
programming/bsiCrawler/content/B 3.208 Internet-PC.json
programming/bsiCrawler/content/B 3.208 Internet-PC.txt
programming/bsiCrawler/content/B 3.209 Client unter Windows XP.json
programming/bsiCrawler/content/B 3.209 Client unter Windows XP.txt
programming/bsiCrawler/content/B 3.210 Client unter Windows Vista.json
programming/bsiCrawler/content/B 3.210 Client unter Windows Vista.txt
programming/bsiCrawler/content/B 3.211 Client unter Mac OS X.json
programming/bsiCrawler/content/B 3.211 Client unter Mac OS X.txt
programming/bsiCrawler/content/B 3.212 Client unter Windows 7.json
programming/bsiCrawler/content/B 3.212 Client unter Windows 7.txt
programming/bsiCrawler/content/B 3.213 Client unter Windows 8.json
programming/bsiCrawler/content/B 3.213 Client unter Windows 8.txt
programming/bsiCrawler/content/B 3.301 Sicherheitsgateway (Firewall).json
programming/bsiCrawler/content/B 3.301 Sicherheitsgateway (Firewall).txt
programming/bsiCrawler/content/B 3.302 Router und Switches.json
programming/bsiCrawler/content/B 3.302 Router und Switches.txt
"programming/bsiCrawler/content/B 3.303 Speicherl\303\266sungen - Cloud Storage.json"
programming/bsiCrawler/content/B 3.304 Virtualisierung.json
programming/bsiCrawler/content/B 3.304 Virtualisierung.txt
programming/bsiCrawler/content/B 3.305 Terminalserver.json
programming/bsiCrawler/content/B 3.305 Terminalserver.txt
programming/bsiCrawler/content/B 3.401 TK-Anlage.json
programming/bsiCrawler/content/B 3.401 TK-Anlage.txt
"programming/bsiCrawler/content/B 3.402 Faxger\303\244t.json"
"programming/bsiCrawler/content/B 3.402 Faxger
\303\244t.txt"
programming/bsiCrawler/content/B 3.404 Mobiltelefon.json
programming/bsiCrawler/content/B 3.404 Mobiltelefon.txt
programming/bsiCrawler/content/B 3.405 Smartphones, Tablets und PDAs.json
programming/bsiCrawler/content/B 3.405 Smartphones, Tablets und PDAs.txt
"programming/bsiCrawler/content/B 3.406 Drucker, Kopierer und Multifunktionsger\303\244te.json"
"programming/bsiCrawler/content/B 3.406 Drucker, Kopierer und Multifunktionsger\303\244te.txt"
programming/bsiCrawler/content/B 3.407 Eingebettetes System.json
programming/bsiCrawler/content/B 3.407 Eingebettetes System.txt
programming/bsiCrawler/content/B 4.1 Lokale Netze.json
programming/bsiCrawler/content/B 4.1 Lokale Netze.txt
programming/bsiCrawler/content/B 4.2 Netz- und Systemmanagement.json
programming/bsiCrawler/content/B 4.2 Netz- und Systemmanagement.txt
programming/bsiCrawler/content/B 4.3 Modem.json
programming/bsiCrawler/content/B 4.3 Modem.txt
programming/bsiCrawler/content/B 4.4 VPN.json
programming/bsiCrawler/content/B 4.4 VPN.txt
"programming/bsiCrawler/content/B 4.5 LAN-Anbindung eines IT-Systems \303\274ber ISDN.json"
"programming/bsiCrawler/content/B 4.5 LAN-Anbindung eines IT-Systems \303\274ber ISDN.txt"
programming/bsiCrawler/content/B 4.6 WLAN.json
programming/bsiCrawler/content/B 4.6 WLAN.txt
programming/bsiCrawler/content/B 4.7 VoIP.json
programming/bsiCrawler/content/B 4.7 VoIP.txt
programming/bsiCrawler/content/B 4.8 Bluetooth.json
programming/bsiCrawler/content/B 4.8 Bluetooth.txt
programming/bsiCrawler/content/B 5.12 Microsoft Exchange-Outlook.json
programming/bsiCrawler/content/B 5.13 SAP System.json
programming/bsiCrawler/content/B 5.13 SAP System.txt
"programming/bsiCrawler/content/B 5.14 Mobile Datentr\303\244ger.json"
"programming/bsiCrawler/content/B 5.14 Mobile Datentr\303\244ger.txt"
programming/bsiCrawler/content/B 5.15 Allgemeiner Verzeichnisdienst.json
programming/bsiCrawler/content/B 5.15 Allgemeiner Verzeichnisdienst.txt
programming/bsiCrawler/content/B 5.16 Active Directory.json
programming/bsiCrawler/content/B 5.16 Active Directory.txt
programming/bsiCrawler/content/B 5.17 Samba.json
programming/bsiCrawler/content/B 5.17 Samba.txt
programming/bsiCrawler/content/B 5.18 DNS-Server.json
programming/bsiCrawler/content/B 5.18 DNS-Server.txt
programming/bsiCrawler/content/B 5.19 Internet-Nutzung.json
programming/bsiCrawler/content/B 5.19 Internet-Nutzung.txt
"programming/bsiCrawler/content/B 5.2 Datentr\303\244geraustausch.json"
"programming/bsiCrawler/content/B 5.2 Datentr\303\244geraustausch.txt"
programming/bsiCrawler/content/B 5.20 OpenLDAP.json
programming/bsiCrawler/content/B 5.20 OpenLDAP.txt
programming/bsiCrawler/content/B 5.21 Webanwendungen.json
programming/bsiCrawler/content/B 5.21 Webanwendungen.txt
programming/bsiCrawler/content/B 5.22 Protokollierung.json
programming/bsiCrawler/content/B 5.22 Protokollierung.txt
programming/bsiCrawler/content/B 5.23 Cloud Management.json
programming/bsiCrawler/content/B 5.23 Cloud Management.txt
programming/bsiCrawler/content/B 5.24 Web-Services.json
programming/bsiCrawler/content/B 5.24 Web-Services.txt
programming/bsiCrawler/content/B 5.25 Allgemeine Anwendungen.json
programming/bsiCrawler/content/B 5.25 Allgemeine Anwendungen.txt
programming/bsiCrawler/content/B 5.26 Serviceorientierte Architektur.json
programming/bsiCrawler/content/B 5.26 Serviceorientierte Architektur.txt
programming/bsiCrawler/content/B 5.27 Software-Entwicklung.json
programming/bsiCrawler/content/B 5.27 Software-Entwicklung.txt
programming/bsiCrawler/content/B 5.3 Groupware.json
programming/bsiCrawler/content/B 5.3 Groupware.txt
programming/bsiCrawler/content/B 5.4 Webserver.json
programming/bsiCrawler/content/B 5.4 Webserver.txt
programming/bsiCrawler/content/B 5.5 Lotus Notes - Domino.json
programming/bsiCrawler/content/B 5.6 Faxserver.json
programming/bsiCrawler/content/B 5.6 Faxserver.txt
programming/bsiCrawler/content/B 5.7 Datenbanken.json
programming/bsiCrawler/content/B 5.7 Datenbanken.txt
programming/bsiCrawler/content/B 5.8 Telearbeit.json
programming/bsiCrawler/content/B 5.8 Telearbeit.txt
programming/bsiCrawler/content/B 5.9 Novell eDirectory.json
programming/bsiCrawler/content/B 5.9 Novell eDirectory.txt
