<script src="../../static/bsi/js/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


{% extends 'bsi/base.html' %} {% block bsi_contents %}
    <div class="container margin-after-nav">
        <div class="jumbotron-margin">
            <h1 class="page-header">User Generated Articles</h1>
            <div class="jumbotron">
                <p class="text-center" style="font-size: 15px">This section was created for publications of articles
                    about the topics of the BSI. There is the opportunity
                    to link the articles to the threads, components and counter measures. This is only possible if the
                    user is
                    logged in.</p>

                <table class="table table-striped"
                       data-toggle="table"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#toolbar"
                       data-query-params="queryParams"
                       data-pagination="true"
                       data-height="550"
                       data-locale="en-US"
                       data-page-list="[15, 30, 90, 200]">

                    <thead>
                    <tr>
                        <th data-sortable="true">Article Name</th>
                        <th data-sortable="true">Author</th>
                        <th data-sortable="true">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for archive in archives %}
                        <tr>
                            <td class="col-xs-7">
                                    {% if archive.parent.slug == 'archive' %}
                                      <a href="{% url 'archive_dir' path=archive.slug %}"> {{ archive.article.current_revision.title }} </a>
                                    {% else %}
                                      <a href="{% url 'archive_get' path=archive.parent.slug article=archive.slug %}"> {{ archive.article.current_revision.title }} </a>
                                    {% endif %}
                            </td>
                            <td class="col-xs-3">{{ archive.article.owner }}</td>
                            <td class="col-xs-2">{{ archive.article.created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


