<script src="../../static/bsi/js/jquery.min.js"></script>
<script src="../../static/bsi/js/login.js"></script>>
{% extends 'bsi/base.html'%}

{% block title %}Info{% endblock %}

{% block bsi_contents %}
{% load static %}
<div class="container margin-after-nav">
     <div class="jumbotron-margin">
         <h1>Virtual Assistant</h1>
         <div class="jumbotron">
             <p class="text-center">The virtual assistant is a program which helps you to find
                 articles from the BSI compendium. By asking yes/no questions, the virtual assistant can calculate which
                 article is the most likely you are searching for.
             </p>
             <section>
                 <div class="row">
                     <div class="col-md-5 col-sm">
                         <img class="img-responsive img-rounded" src="{% static 'bsi/images/wizardInfoPage/wizardOverview.png' %}">
                     </div>
                     <div class="col-md-7">
                         <table border=0>
                            <tr>
                                <td>
                                <ol id="example1">
                                    <li><p>Button to return to the previous question.</p></li>
                                    <li><p>Restart the virtual assistant.</p></li>
                                    <li><p>Go to the info page.</p></li>
                                    <li><p>Press „Yes“ if you believe the topic is related with the article your are looking
                                        for.</p></li>
                                    <li><p>Press „No“ if you believe the topic is NOT related with the article you are
                                        looking for.</p></li>
                                    <li><p>Press „I don’t know“ if you are not sure if this topic is related.</p></li>
                                </ol>
                                <figcaption>Disclaimer: Even if you press „no“, the current topic is not completely
                             excluded.</figcaption>
                                </td>
                            </tr>
                        </table>
                     </div>
                 </div>
             </section>
             <section>
                 <div class="row">
                     <div class=" row col-md-10 col-sm">
                         <img class="img-responsive marginImage" src="{% static 'bsi/images/wizardInfoPage/topicAboutAll.png' %}">
                     </div>
                     <div class="col-md-12 col-sm">
                        <ul class="notes">
                            <li><p>Click "Articles about ..." to show example articles about the topic currently asked in the question.</p></li>
                            <li><p>Click on an article inside the list to open a detailed page about it.</p></li>
                        </ul>
                     </div>
                 </div>
             </section>
             <section>
                 <div class = "row">
                     <div class="col-md-5 col-sm">
                         <img class="img-responsive" src="{% static 'bsi/images/wizardInfoPage/results.png' %}">
                     </div>
                     <div class="col-md-7 col-sm">
                         <ul class="notes">
                            <li class="marginTop">
                                <p>
                                    Once enough questions are answered, results will be displayed.
                                </p>
                            </li>
                            <li class="marginTop">
                                <p>
                                    Keep in mind the results are not final and if you continue to answerquestions those
                                    answers can change.
                                </p>
                            </li>
                         </ul>
                     </div>
                 </div>
             </section>
            </div>
	 </div>
</div>
{% endblock %}
