{% extends "admin/index.html" %}
{% block branding %}
            <h1 id="site-name"><a href="/admin/">Administration Control Panel</a></h1>
{% endblock %}

{% block sidebar %}

	<div class="module">
        <table>
        <caption>
            <a href="#" class="section" title="Update the BSI version">BSI Update</a>
        </caption>

            <tr class="model-image">
				<th>Update</th>
				<td scope="row"><button id="update_btn" onclick="startUpdate()">Start</button></td>
            </tr>

            <tr class="model-image">
				<th><p id="update"></p></th>
            </tr>

            <!---
			<tr class="model-image">
				<th>Post Phase</th>
				<td scope="row"><button onclick="postUpdate()">Start</button></td>
			</tr>

        </table>
        </div>
        --->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
       // $('#update').html(window.localStorage.getItem('update'));
        var id =  $("#update")
        var data = {'user':'test'};
        $.ajax({
            dataType:'json',
            url:'/_update/check_update/',
            data: data,
            success: function(data) {
            if(data.status == true){
                id.text(data.msg);
                $("#update_btn").prop('disabled', true); // disable button

            }else if(data.status == false){
                $("#update_btn").prop('disabled', false); // enable button
            }
            },
        });
    });

	function startUpdate() {
	    var id =  $("#update")
		var data = {'user':'test'};
		$.ajax({
            dataType:'json',
            url:'/_update/Update/',
            data: data,

             beforeSend: function() {
                  $("#update_btn").prop('disabled', true); // disable button
                 id.text('Update is start')
                 },
            success: function(data) {
            if(data.status == 'ok'){
              id.text(data.msg);
              $("#update_btn").prop('disabled', false); // disable button
            }else if(data.status == 'error'){
                $("#update_btn").prop('disabled', false); // disable button
                }
               },
        });
    }

   /*function postUpdate() {
		var data = {'user':'test'};
		$.ajax({
            dataType:'json',
            url:'/_update/performPostPhase/',
            data: data,
        });
    }*/

</script>

{% endblock %}