{% extends "admin/index.html" %}
{% block branding %}
            <h1 id="site-name"><a href="/admin/">Administration Control Panel</a></h1>
{% endblock %}

{% block sidebar %}

	<div class="module">
        <table>
        <caption>
            <a href="#" class="section" title="Update the BSI version">BSI Update</a>
        </caption>

            <tr class="model-image">
				<th>Update</th>
				<td scope="row"><button onclick="startUpdate()">Start</button></td>
            </tr>
            <!---
			<tr class="model-image">
				<th>Post Phase</th>
				<td scope="row"><button onclick="postUpdate()">Start</button></td>
			</tr>

        </table>
        </div>
        --->



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {

    });

	function startUpdate() {
		var data = {'user':'test'};
		$.ajax({
            dataType:'json',
            url:'/_update/performUpdate/',
            data: data,
        });
    }

   /*function postUpdate() {
		var data = {'user':'test'};
		$.ajax({
            dataType:'json',
            url:'/_update/performPostPhase/',
            data: data,
        });
    }*/

</script>

{% endblock %}