{% extends 'bsi/base.html' %}
{% block bsi_contents %}
      <div class="margin-image">
          <div class="full-width-image-2">
              <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                 <h1 class="lg-text">About us</h1>
                 <p class="image-aboutus-para"></p>
               </div>
            </div>
             </div>
          </div>


      	<div class="row">
             <div class="jumbotron" style="padding-left: 10px;padding-right: 10px">
                 <div class="container">
		<div class="site-heading" style="text-align: left;">

            <p><strong>Technische Universität BerlinTechnische Universität Berlin</strong></p>
                            <p>Straße des 17. Juni 135
                            <br>10623 Berlin
                            <br>Telefon: +49 (0)30 314-0
                            <br>
                <br>The Technical University of Berlin is a public corporation according to §§ 1 and 2 of the Berlin Higher Education Act (BerlHG) and at the same time a state institution. It is legally represented by the president. The name "Technische Universität Berlin" will not be translated into English.
                                As a transcription, however, the term "Berlin Institute of Technology" is possible.</p>

           <p><strong>Control of legality</strong></p>
            <p><a href="https://www.berlin.de/rbmskzl/">Regierende Bürgermeister von Berlin - Senatskanzlei</a> </p>

            <p><strong>Tax ID number</strong></p>
            <p>USt-Id-Nr.: DE 811 231 089</p>

            <p><strong>Contact</strong></p>
            <p>Zentrum für internationale und interkulturelle Kommunikation (ZiiK)
            <br>Sekr. FH 5 - 2
            <br>Fraunhoferstraße 33-36
            <br>10587 Berlin
            <br>Tel +49 30 314 25949
            <br>Fax +49 30 314 73622
                <br>Email:
            </p>

            <p><strong>Publisher</strong></p>
            <p>This website was developed as part of the project "System development for developing countries" in cooperation with The Federal Office for Information Security. The creators are students from Technical University of Berlin, Fakulty 4, who have taken this subject in winter semester 2017. The contents of this website are researched and implemented with the utmost care. Errors in the machining process can still not be ruled out. This website is based on information
            </p>

            <p><strong>Partner</strong></p>
            <p>The Federal Office for Information Security
            <br>Godesberger Allee 185-189,
            <br>53175 Bonn, Germany,
            <br>phone: +49 228 99 9582-0,
            <br>fax: +49 228 99 9582-5400,
            <br>E-mail: bsi@bsi.bund.de.
            <br>VAT registration number: DE 811 329 482

            </p>

            <div class="border"></div>
					</div>
	                </div>
                 </div>
  </div>

    </div>
{% endblock %}

