{% extends 'bsi/base.html' %} {% block bsi_contents %}
    <div class="margin-image">

        <div class="full-width-image-2">
                      <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                         <h1 class="lg-text">Frequently Asked Questions</h1>

                       </div>
                    </div>
                     </div>
                  </div>
          <br><br>

    </div>

 <div class="container">
       <div class="row">
         <div class="col-md-8">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is ISAM?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                The ISAM (Information Security Advice Manual) is a IT security platform interface to IT – Basic Protection Compendium of the Federal Office for Information Security (BSI). The platform consist of BSI Pages (see 3), user articles (see 5), virtual assistant (see 8) and Information page (see 9). The purpose of the platform is to help the users to find a solutions to IT security problems.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is BSI IT Basic Protection Compendium?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
               The Federal Office for Information Security of Germany (BSI) publishes a foundation paper for IT security called IT Basic Protection Compendium.
                The first part was published in 2005 and aimes to explains the general principles of in, as well as raising awareness of standards in this sector. The topic is rounded off by a collection of threats and measures.

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What are the components in BSI IT BP Compendium?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                The IT BP Compendium of the BSI contains the components that cover specific topics with specific IT threats and corresponding protective measures.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 What are BSI Pages? Can I edit the BSI Pages?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                The BSI pages are articles, written and reviewed by trained specialists, therefore there is no need to edit these topics. For adding further detailed information regarding a specific topic it is advised to write a user article and link it to the proper BSI page.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                 What are User Articles?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
               User Articles are articles written by users.The articles are based on their own knowledge, experience and eventuel appropriate to the country in which this platform is operated.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                How to create new user articles?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
               After registering and logging in you are a user and have the possibility to write user articles.
                Clicking the link “User articles” in the header you reach the user area,by clicking on the (+) sign you can create a new article that you can modify.
                There are 2 steps for creating a new article, first one is writing the content of the article (title and contents). The second step offers you the possibility to link the article to BSI pages.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                 How to link articles?
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
              <div class="panel-body">
                A user has the possibility to link a User topic to a BSI page. There are two ways to do so:
                <ul>
                    <li>Either after creating a new topic: in the second part of creating a topic, the user can choose a BSI page from the tree view or search for a topic in a search bar.
                    </li>
                    <li>Through clicking the “Edit” button at an existing user generated topic, you can choose a BSI page from the Table of content on the left side.
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                 What is the Virtual Assistant?
                </a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
              <div class="panel-body">
                  The “Virtual Assistant” is a tool that attempts to determine which IT security problem the user has by asking them a series of questions. For detailed information <a href="/wizardinfo?">click here</a>.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  Can I ask the community questions about specific topics, problems?
                </a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
              <div class="panel-body">
                 On the top right of this site you can find the Information Page. There you have the possibility to ask general questions including tips about using the platform, or questions about a technical topic you didn’t find through the search in the articles.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTen">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                 Who is moderating the content of this platform?
                </a>
              </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
              <div class="panel-body">
                The content of this platform moderating administrators and moderators.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEleven">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                How to become a Moderator?
                </a>
              </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
              <div class="panel-body">
                An active user can become a moderator by getting promoted an admin.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwelve">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                What are the responsibilities of roles?
                </a>
              </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
              <div class="panel-body">
                This table shows the responsibilities of all users.
                <div style="overflow-y: auto ">
                  <table class="table table-sm" style="text-align: center">
                   <thead class="thead-dark" style="font-size: small">
                    <tr>
                        <th>
                        </th>
                        <th>
                            Browse compendium
                        </th>
                        <th>
                            Add/edit articles
                        </th>
                        <th>
                            Moderate articles
                        </th>
                        <th>
                            Assign roles/update BSI
                        </th>
                        <th>
                            Ask question in community
                        </th>
                         <th>
                            Edit/delete questions from community
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="font-weight: bold">
                            Guest
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           --
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">
                            User
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           --
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">
                            Mod
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           --
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">
                            Admin
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                         <td>
                           X
                        </td>
                    </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThirteen">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                What is the archive? Can I edit articles in the archive?
                </a>
              </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
              <div class="panel-body">
               In the archive you find user articles and older versions of the IT Basic Protection Compendium that are not up to date anymore and that have been replaced with newer articles. You cannot edit any article in the archive.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFourteen">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                Why was my article moved to the archive?
                </a>
              </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
              <div class="panel-body">
               Your article was linked to a BSI page in the old version of The IT BP Compendium, which means the content of your article may not be up-to-date, therefore it is now visible only in the archive.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFifteen">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                Which languages can be used to write articles?
                </a>
              </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
              <div class="panel-body">
                You can write the articles only in english.
              </div>
            </div>
          </div>
          </div>
         </div>
         <div class="col-md-4">
            <div class="widget text-center">
                <div class="widget-body clearfix">
                    <i class="fa fa-question-circle fa-4x"></i>
                 <a href="{%url 'information'  %}" style="color:white;"><h3>Ask more information</h3></a>
                </div>
            </div>
         </div>
        </div>

  </div>

{% endblock %}
