{% extends 'bsi/base.html' %}
{% block bsi_contents %}
      <div class="margin-image">
          <div class="full-width-image-2">
              <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                 <h1 class="lg-text">Policy</h1>
                 <p class="image-aboutus-para"></p>
               </div>
            </div>
             </div>
          </div>


      	<div class="row">
             <div class="jumbotron" style="padding-left: 10px;padding-right: 10px;font-size: small">
                 <div class="container">
		<div class="site-heading" style="text-align: left;">

            <p><strong>Privacy Policy</strong></p>
                            <p style="font-size: medium">
                               As the operators of this website take the protection of your personal data very seriously. We treat your data with confidentiality and in accordance with the statutory data protection regulations and this privacy policy.
The normal use of our website is possible without providing personal information. In so far as personal data (i.e. e-mail address) are asked for, the delivery of such always takes place on a voluntary basis in order to use the extended service of this website. These data will not be disclosed to third parties without your explicit consent.

                            </p>

           <p><strong>Right to information, cancellation, and blocking</strong></p>
            <p style="font-size: medium">At any time you have the right to get information about your stored personal data, their origin, recipient and the purpose of the data processing and the right to correct or delete this data. For further information on the use of your personal data, you can contact us at any time at the address given at <a href="/about">About Us</a>.
             </p>

            <p><strong>Commentary on this website</strong></p>
            <p style="font-size: medium">If you write a user article, a question or answer on the Information Page, in addition to your text, your username and the time of the submission of your text will be published.
            </p>

            <p><strong>Third-party disclosure</strong></p>
            <p style="font-size: medium">We do not sell, trade, or otherwise transfer to outside parties your personal identifiable information to outside parties.
            </p>




            <div class="border"></div>
					</div>
	                </div>
                 </div>
  </div>

    </div>
{% endblock %}

