{% extends 'bsi/base.html' %}
{% block bsi_contents %}
      <div class="margin-image">
          <div class="full-width-image-2">
              <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                 <h1 class="lg-text">Policy</h1>
                 <p class="image-aboutus-para"></p>
               </div>
            </div>
             </div>
          </div>


      	<div class="row">
             <div class="jumbotron" style="padding-left: 10px;padding-right: 10px;font-size: small">
                 <div class="container">
		<div class="site-heading" style="text-align: left;">

            <p><strong>Privacy Policy</strong></p>
                            <p style="font-size: medium">
                                The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentiality and in accordance with the statutory data protection regulations and this privacy policy.
The use of our website is usually possible without providing personal information. As far as on the personal data (for example name, address or E-Mail addresses) are asked, this takes place, always on a voluntary basis. These data will not be disclosed to third parties without your explicit consent.

                            </p>

           <p><strong>Right to information, cancellation, blocking</strong></p>
            <p style="font-size: medium">At any time you have the right to get information about your stored personal data, their origin and recipient and the purpose of the data processing and the right to correct, block or delete this data. For further information on personal data you can contact us at any time at the address given in the <a href="/about">About Us</a>.
             </p>

            <p><strong>Commentary on this website</strong></p>
            <p style="font-size: medium">In addition to your comment, the comment function on this page also contains information about the time that it was created and the username given.
            </p>

            <p><strong>Third-party disclosure</strong></p>
            <p style="font-size: medium">We do not sell, trade, or otherwise transfer to outside parties your personal identifiable information.
            </p>




            <div class="border"></div>
					</div>
	                </div>
                 </div>
  </div>

    </div>
{% endblock %}

