<script src="../../static/bsi/js/jquery.min.js"></script>
<script src="../../static/bsi/js/login.js"></script>>

{% extends 'bsi/base.html'%} {% block bsi_contents %}
<div class="container margin-after-nav">
          <div class="jumbotron-margin text-center">
				<div class="row">
				  <div class="col-lg-3"></div>
				  <div class="col-lg-6">
					<h2	 class="page-header">Sign up</h2>
					<form id="register-form" action="{% url 'register' %}" method="post" role="form" style="display: block;">
							{% csrf_token %}
							{% for field in form %}
								<div class="form-group row">
									<div class="col-md-offset-2 col-md-8">
										{{ field }}
									</div>
								</div>
								{% for error in field.errors %}
									<div class="row">
										<div class="col-md-offset-2 col-md-8">
											 <p class="text-danger pull-left">{{ error }}</p>
										</div>
									</div>
								{% endfor %}
							{% endfor %}
							<div class="form-group">
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2">
										<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="btn btn-success btn-mg pull-left" value="Register Now">
									</div>
								</div>
							</div>
					</form>
		  </div>
		  <div class="col-lg-3"></div>
		</div>
	 </div>
</div>
{% endblock %}



