{% extends "bsi/base.html" %}
{% load wiki_tags i18n sekizai_tags static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block bsi_pagetitle %}{% trans "Add new article" %}{% endblock %}

{% block bsi_contents %}


    <div class="container margin-after-nav">
        <!--{% include "wiki/includes/editormedia.html" %} -->
        <h1 class="page-header">{% trans "Add new article" %}</h1>


        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form method="POST" class="form-horizontal"> {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
            {% endif %}
            {% block form_data %}
            {% endblock %}

            <div class="form-group form-actions">

                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <a href="{% url 'index' %}" class="btn btn-default">
                        {% trans "Cancel" %}
                    </a>
                    {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" class="btn btn-default"
                                value="{{ wizard.steps.prev }}">
                            <span class="fa fa-arrow-left"></span>
                            {% trans "Back" %}</button>
                    {% endif %}
                    {% if wizard.steps.current != wizard.steps.last %}
                        <button name="wizard_goto_step" type="submit" class="btn btn-default">
                            {% trans "Next" %}
                            <span class="fa fa-arrow-right"></span>
                        </button>
                    {% else %}
                        <button type="submit" name="save_changes" class="btn btn-primary">
                            <span class="fa fa-plus"></span>
                            {% trans "Create article" %}
                        </button>
                    {% endif %}

                </div>
            </div>
        </form>
    </div>

{% endblock %}
