{% extends "uga/create_article.html" %}
{% load wiki_tags i18n sekizai_tags static %}

{% block form_data %}
    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static "/bsi/js/urlify.js" %}"></script>
    {% endaddtoblock %}

    <table>
        <tbody>

        {% for field in form %}
            <tr>
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}

            </tr>
            <tr>{{ field.help_text|safe }}</tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        {% if not form.slug.value %}
            //<![CDATA[
            (function ($) {
                $(document).ready(function () {
                    $("#id_creation-title").keyup(function () {
                        var e = $("#id_creation-slug")[0];
                        if (!e._changed) {
                            slug = URLify(this.value, 50);
                            e.value = slug;
                        }
                    });
                });
            })(jQuery);
            //]]>
        {% endif %}
    </script>
{% endblock %}