{% extends "uga/create_article.html" %}
{% load wiki_tags i18n sekizai_tags static %}

{% block pre_form %}
    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{% static 'bsi/css/loader.css' %}"/>
    {% endaddtoblock %}

    <div class="col-lg-12">
        <div class="row">
            <div class="col-sm-2 text-right">
                <h4>Search articles</h4>
            </div>
            <div class="col-sm-10">
                <div id="loading-spinner" class="loader"></div>
            </div>
        </div>

        <div class="inner-addon right-addon ui-widget">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control search-query" id="search_autocomplete" placeholder="search"/>
        </div>
        <hr class="no-margin">
        <div id="see_also_links">
            <ul class="list-group" id="newList"></ul>
        </div>
    </div>


    <div class=" col-lg-5">
        <div class="fading-side-menu" data-spy="" data-offset-top="350">
            <h4>Table of Contents</h4>
            <hr class="no-margin">
            <div id="treeview1"></div>

            <script type="text/javascript">


                $(function () {
                    $('#treeview1').treeview({
                        levels: 1,
                        data: getData(),
                        enableLinks: false,
                        multiSelect: true,
                        selectedBackColor: '#007a36'
                    }).on('nodeSelected nodeUnselected',
                        function (event, data) {
                            var correspondingField = getFormField(data.text.trim());
                            toggleFormField(correspondingField);
                        });
                });


                function getData() {
                    return $.ajax({
                        url: '/_treeview/gettreeview/',
                        async: false
                    }).responseText

                }


                $(function () {
                    $("#search_autocomplete")
                    {#    .autocomplete({#}
                    {#    source: "/uga/_create/get_bsi_articles/",#}
                    {#    minLength: 2#}

                        .on('keyup', function (e) {
                            var t = $(this).val();

                            // if query is too short or enter has not been hit, don't start a ajax request
                            if (t.length < 2 || e.which !== 13) {
                                return false;
                            }

                            var $search_result = $.ajax({
                                    url: '/uga/_create/get_bsi_articles/',
                                {#async: false,#}
                                data: {term: t},
                                beforeSend: function () {
                                    if ($search_result != null) {
                                        $search_result.abort();
                                    }
                                },
                                success: function (data) {
                                    var resultlist = $("#newList");
                                    resultlist.empty();
                                    for (var i = 0; i < data.length; i++) {
                                        resultlist.append("<li class='list-group-item search-result'>" + data[i].value + "</li>");
                                    }

                                    setUp();
                                }
                            });
                        });

                    // each search result gets a click listener, so that the corresponding multipleChoiceField will be
                    // checked/unchecked and made visible/invisible.
                    function setUp() {
                        $('.search-result').each(function () {
                            var text = $(this).text();
                            var correspondingField = getFormField(text);
                            if (correspondingField.is(':checked')) {
                                $(this).addClass("active");
                            }
                            $(this).click(function () {
                                toggleFormField(correspondingField);
                            });
                        })

                    }

                });

                function getSearchResultEntry(text) {
                    return $('.search-result').filter(function () {
                        return $(this).html() === text
                    });
                }

                function getTreeviewDataNode(text) {
                    var nodeId = null;
                    $(".node-treeview1").filter(function () {
                        if ($(this).text() === text) {
                            nodeId = $(this).attr("data-nodeid");
                        }
                    });
                    if (nodeId === null) {
                        return null;
                    }
                    return $("#treeview1").treeview('getNode', nodeId);
                }

                function getFormField(text) {
                    return $(':input[type=checkbox]').filter(function () {
                        {#return this.value === text#}
                        return $(this).parent().text().trim() === text;
                    });
                }

                function checkFormField(field) {
                    field.prop('checked', true);
                    field.parent().parent().show();

                    var searchResultEntry = getSearchResultEntry(field.parent().text().trim());
                    if (!searchResultEntry.hasClass("active")) {
                        searchResultEntry.addClass("active");
                    }

                    var treeviewEntry = getTreeviewDataNode(field.parent().text().trim());
                    if (treeviewEntry !== null) {
                        $('#treeview1').treeview('selectNode', [treeviewEntry, {silent: true}]);
                    }
                }

                function uncheckFormField(field) {
                    field.prop('checked', false);
                    field.parent().parent().hide();

                    var searchResultEntry = getSearchResultEntry(field.parent().text().trim());
                    if (searchResultEntry.hasClass("active")) {
                        searchResultEntry.removeClass("active");
                    }

                    var treeviewEntry = getTreeviewDataNode(field.parent().text().trim());
                    if (treeviewEntry !== null) {
                        $('#treeview1').treeview('unselectNode', [treeviewEntry, {silent: true}]);
                    }
                }

                function toggleFormField(field) {
                    if (field.prop("checked")) {
                        uncheckFormField(field);
                    } else {
                        checkFormField(field);
                    }
                }

                $(document).ajaxStart(function () {
                    $('#loading-spinner').show();
                }).ajaxStop(function () {
                    $('#loading-spinner').hide();
                });

                $(document).ready(function () {
                        $('input[type=checkbox]').each(function () {
                            if (!$(this).is(':checked')) {
                                $(this).parent().parent().hide()
                            } else {
                                var field = getFormField($(this).parent().text().trim());
                                checkFormField(field);
                            }
                        })
                    }
                );


                $(function () {
                    $('input[type=checkbox]').change(function () {
                        if ($(this).is(':checked')) {
                            $(this).parent().parent().show()
                        } else {
                            $(this).parent().parent().hide();
                            var text = $(this).parent().text().trim();
                            var treeviewNode = getTreeviewDataNode(text);
                            $('li:contains(' + text + ')').removeClass('active');
                            if (treeviewNode !== null) {
                                $('#treeview1').treeview('unselectNode', [treeviewNode, {silent: true}]);
                            }
                        }
                    });
                });

            </script>
        </div>
    </div>


{% endblock %}

{% block form_data %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
    {% endif %}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">


            <table>
                <tbody>
                {% for field in form %}
                    <tr>
                        <p>
                            {{ field.label_tag }}
                            {{ field }}

                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}

                    </tr>
                    <tr>{{ field.help_text|safe }}</tr>
                {% endfor %}
                </tbody>
            </table>

        </div>


    </div>


{% endblock %}
