{% extends "uga/create_article.html" %}
{% load wiki_tags i18n sekizai_tags static %}

{% block form_data %}
    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static "/bsi/js/urlify.js" %}"></script>
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <link href="{% static 'bsi/bootstrap/css/wiki-bootstrap.min.css' %}">
    {% endaddtoblock %}

    {% for field in form %}
        <div id="container_{{ field.name }}" class="form-group">
            <div class="wiki-label col-xs-3 col-lg-2">
                <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                {#{{ field.label_tag }}#}
            </div>
            <div class="wiki-control col-xs-9 col-lg-10">
                {{ field }}
                <p class="help-block">{{ field.help_text|safe }}</p>
                {% if field.errors %}
                    <script type="text/javascript">
                        $("#container_{{ field.name }}").addClass("has-error");
                    </script>
                    {% for error in field.errors %}
                        <div id="error_{{ field.name }}" class="help-block">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    {% endfor %}

    <script type="text/javascript">
        {% if not form.slug.value %}
            //<![CDATA[
            (function ($) {
                $(document).ready(function () {
                    $("#id_creation-title").keyup(function () {
                        var e = $("#id_creation-slug")[0];
                        if (!e._changed) {
                            slug = URLify(this.value, 50);
                            e.value = slug;
                        }
                    });


                });
            })(jQuery);
            //]]>
        {% endif %}
    </script>
{% endblock %}