<script src="../../static/bsi/js/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


{% extends 'bsi/base.html'%} {% block bsi_contents %}
<div class="container margin-after-nav">
     <div class="jumbotron-margin">
         <h1 class="page-header">User Generated Articles</h1>
         <div class="jumbotron">
           <p class="text-center" style="font-size: 15px">This section was created for publications of articles about the topics of the BSI. There is the opportunity
               to link the articles to the threads, components and counter measures. This is only possible if the user is
               logged in.</p>
           <div id="toolbar" class="btn-group">
                {% if user.is_authenticated %}
                   <a href="{% url 'create' path='uga/' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                   <span style="margin-left: 10px">Add a new UG article</span>
                {%else%}
                    <a  data-toggle="tooltip" title="Please Log in!" disabled href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                    <span style="margin-left: 10px">Add a new UG article!</span>
               {%endif%}
           </div>
           <table class="table table-striped"
                  data-toggle="table"
                  data-search="true"
                  data-show-refresh="true"
                  data-show-toggle="true"
                  data-show-columns="true"
                  data-toolbar="#toolbar"
                  data-query-params="queryParams"
                  data-pagination= "true"
                  data-height = "550"
                  data-locale="en-US"
                  data-page-list="[15, 30, 90, 200]">

                <thead>
                  <tr>
                    <th data-sortable="true">Article Name</th>
                    <th data-sortable="true">Author</th>
                    <th data-sortable="true">Date</th>
                  </tr>
                </thead>
                <tbody>
                {%for article in articles%}
                  <tr>
                      <td class="col-xs-7"><a href="{% url 'wiki:get' path=article.path %}">{{ article.article.current_revision.title }}</a></td> <!-- todo add link to article -->
                      <td class="col-xs-3">{{article.article.owner}}</td>
                      <td class="col-xs-2">{{article.article.created}}</td>
                  </tr>
                {%endfor%}
                </tbody>
              </table>
         </div>
     </div>
</div>
{%endblock%}


