<script src="../../static/bsi/js/jquery.min.js"></script>
<script src="../../static/bsi/js/table/bootstrap-table.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/bsi/js/table/bootstrap-table.css"/>

<!-- Latest compiled and minified CSS -->

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function dateSorter(a, b) {
      var d1 = new Date(a);
      var d2 = new Date(b);

      if (d1 < d2) return -1;
      if (d1 > d2) return 1;
      return 0;
    }

     function priceSorter(a, b) {
        a = +a.substring(1); // remove $
        b = +b.substring(1);
        if (a > b) return 1;
        if (a < b) return -1;
        return 0;}

</script>

{% extends 'bsi/base.html' %}
{% block bsi_contents %}

        <div class="container margin-after-nav">
         <div class="jumbotron-margin">


            {% block title_overview %}
            {% endblock %}

         <div class="jumbotron">

            {% block header_overview %}
            {% endblock %}


          <table class="table table-striped"
                       data-toggle="table"
                       data-search="true"
                       data-show-refresh="false"
                       data-show-toggle="false"
                       data-show-columns="true"
                       data-toolbar="#toolbar"
                       data-query-params="queryParams"
                       data-pagination="true"
                       data-height="550"
                       data-locale="en-US"
                       data-page-list="[15, 30, 90, 200]"
                       data-sort-name="date">


              <thead>
                    <tr>
                        <th data-sortable="true">Article Name</th>
                        <th data-sortable="true">Author</th>
                        <th data-sortable="true" data-sorter = "priceSorter">Date</th>
                    </tr>
              </thead>
            <!-- tbody should be displayed from overview_uga.html -->
             {% block tbody_overview %}

             {% endblock %}

          </table>

         </div>
         </div>
        </div>

{% endblock %}

