<script src="../../static/bsi/js/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% extends 'bsi/base.html' %}
{% block bsi_contents %}

        <div class="container margin-after-nav">
         <div class="jumbotron-margin">


            {% block title_overview %}
            {% endblock %}

         <div class="jumbotron">

            {% block header_overview %}
            {% endblock %}


          <table class="table table-striped"
                       data-toggle="table"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#toolbar"
                       data-query-params="queryParams"
                       data-pagination="true"
                       data-height="550"
                       data-locale="en-US"
                       data-page-list="[15, 30, 90, 200]">

              <thead>
                    <tr>
                        <th data-sortable="true">Article Name</th>
                        <th data-sortable="true">Author</th>
                        <th data-sortable="true">Date</th>
                    </tr>
                    </thead>

            <!-- tbody should be displayed from overview_uga.html -->
             {% block tbody_overview %}

             {% endblock %}

          </table>

         </div>
         </div>
        </div>

{% endblock %}
