{% extends 'bsi/base.html' %}
{% block bsi_contents %}
<div class="jumbotron jumbroton-blue jumbotron-sm">
    <div class="container margin-image text-center">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2>
                    Information Page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-2">

            </div>
             <div class="col-sm-8 col-lg-8">
                   <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="3" cols="10" required="required"
                                placeholder="Feel free to ask"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-warning" id="btnContactUs">
                            Submit</button>
                    </div>
                </div>
                </form>
              </div>
            <div class="col-sm-2 col-lg-2">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
    </div>
</div>
{% endblock %}

