{% extends 'bsi/base.html' %}
{% block bsi_contents %}
    {% load widget_tweaks %}


<div class="jumbotron jumbroton-blue jumbotron-sm">
    <div class="container margin-image text-center">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2>
                    Information Page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-2">

            </div>
             <div class="col-sm-8 col-lg-8">
                <form method="post">
                     {% csrf_token %}
                     {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        {% for field in q_form.visible_fields %}
                        <div class="form-group">
                            {{ field|attr:"class:form-control"|attr:"placeholder:Write your question here"|attr:"rows:3"|attr:"required:required" }}
                              {% for error in field.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-warning" name="question_button">
                            Submit</button>
                    </div>
                </div>
                </form>
              </div>
            <div class="col-sm-2 col-lg-2">
            </div>
        </div>
    </div>
</div>

  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Questions</h2>
        <div class="comment-list">
          <!-- First Comment -->
             {% for q in questions %}
          <article class="row">
            <div class="col-md-12 col-sm-12">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <div class="text-left">
                       {% if q.user %}

                           <div class="comment-user"><i class="fa fa-user"></i> {{ q.user }}</div>
                           {% else%}
                           <div class="comment-user"><i class="fa fa-user"></i> Anonymous</div>
                      {% endif %}
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ q.timestamp }}</time>
                  </div>
                  <div class="comment-post">
                    <p>
                      {{ q.question }}
                    </p>
                  </div>
                <form method="post">
                {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}
               {% for field2 in a_form.visible_fields %}
                        <div class="form-group">
                            {{ field2|attr:"class:form-control"|attr:"placeholder:Write your question here"|attr:"rows:2"|attr:"required:required" }}
                              {% for error in field.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                        </div>
                        {% endfor %}
                <input type="hidden" name="answer_from" value="{{ q.id }}" />
                 <p class="text-right"><button type="submit" class="btn" name="answer_button">
                     <i class="fa fa-reply"></i> reply</button></p>
            </form>
                </div>
              </div>

            </div>
          </article>
                 {% for a in q.get_answers %}
                  <article class="row">
            <div class="col-md-1 col-sm-1 col-md-offset-0 col-sm-offset-0 hidden-xs">
            </div>
            <div class="col-md-11 col-sm-11">
              <div class="panel panel-default arrow left">
                <div class="panel-heading right">Reply</div>
                <div class="panel-body">
                  <div class="text-left">
                       {% if a.user %}
                           <div class="comment-user"><i class="fa fa-user"></i> {{ a.user }}</div>
                      {% else %}
                           <div class="comment-user"><i class="fa fa-user"></i> Anonymous</div>
                      {% endif %}
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ a.timestamp }}</time>
                  </div>
                  <div class="comment-post">
                    <p>
                     {{ a.answer }}
                    </p>
              </div>
            </div>
              </div>
              </div>
          </article>
                 {% endfor %}
             {% endfor %}



        </div>
    </div>
  </div>
  </div>

{% endblock %}

