{% extends 'bsi/base.html' %}
{% block bsi_contents %}
      <div class="margin-image">
          <div class="full-width-image-2">
              <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                 <h1 class="lg-text">Contact us</h1>
                 <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               </div>
            </div>
             </div>
          </div>


      	<div class="row">
             <div class="jumbotron">
		<div class="site-heading text-center">


						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Ut enim ad minim </p>
						<div class="border"></div>
					</div>
	</div>
  </div>

    </div>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<div>
  <p>{{ question.question }}</p>
</div>
{% endblock %}

