
 <ol id="body" class="breadcrumb breadcrumb-arrow">

                {% for ancestor in urlpath.cached_ancestors %}
                    <li>
                        <a href="{% url 'get_article' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a>
                    </li>
                {% endfor %}
                <li class="active"><span>{{ article.current_revision.title|truncatechars:40 }}</span></li>
</ol>


<script>
    $(window).on('resize', function() {
    if($(window).width() < 700) {
        $('#body').removeClass('breadcrumb-arrow');
    }else{
        $('#body').addClass('breadcrumb-arrow');
    }
})
</script>
