
<h3>See Also</h3>
                {% if urlpath.parent.slug == 'uga' %}
                 {% for artpath in urlpath.uga.is_linked_to.all %}
                    <ul>
                        <li>
                          <a href="{% url 'get_article' path=artpath.url.path %}">{{ artpath.url.article.current_revision.title }}
                          </a>
                        </li>
                    </ul>
                {% endfor %}
                {% else %}
                {% for artpath in urlpath.bsi.references.all %}
                    <ul>
                        <li>
                          <a href="{% url 'get_article' path=artpath.url.path %}">{{ artpath.url.article.current_revision.title }}
                          </a>
                        </li>
                    </ul>
                {% endfor %}
                {% endif %}
