

  <div class="fading-side-menu" data-spy="" data-offset-top="350">
                <h4>Table of Contents</h4>
                <hr class="no-margin">
                <div id="treeview1"></div>
            </div>



<script type="text/javascript">
        $(function () {
            $('#treeview1').treeview({
                levels: 1,
                data: getData()
            });
        });
        function getData() {
            var data = [
        {
        "text": "Elementary hazards",
        "nodes": [
            {
                "text": "Overview of elementary hazards",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.1/",
                        "text": "G01 fire"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.2/",
                        "text": "G02 Unfavorable climatic conditions"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.3/",
                        "text": "G03 water"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.4/",
                        "text": "G04 pollution, dust, corrosion"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.5/",
                        "text": "G05 natural disasters"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.6/",
                        "text": "G06 Disasters in the environment"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.7/",
                        "text": "G07 Major events in the environment"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.8/",
                        "text": "G08 Failure or fault of the power supply"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.9/",
                        "text": "G09 Failure or malfunction of communication networks"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.10/",
                        "text": "G010 Failure or malfunction of supply networks"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.11/",
                        "text": "G011 Failure or malfunction of service providers"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.12/",
                        "text": "G012 Electromagnetic interference"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.13/",
                        "text": "G013 interception of compromising radiation"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.14/",
                        "text": "G014 Spying out information (espionage)"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.15/",
                        "text": "G015 Listening"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.16/",
                        "text": "G016 Theft of devices, data carriers or documents"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.17/",
                        "text": "G017 Loss of equipment, data carriers or documents"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.18/",
                        "text": "G018 Incorrect planning or missing adjustment"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.19/",
                        "text": "G019 Disclosure of information worthy of protection"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.20/",
                        "text": "G020 Information or products from unreliable sources"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.21/",
                        "text": "G021 Manipulation of hardware or software"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.22/",
                        "text": "G022 Manipulation of information"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.23/",
                        "text": "G023 Unauthorized intrusion into IT systems"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.24/",
                        "text": "G024 Destruction of devices or data carriers"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.25/",
                        "text": "G025 Failure of devices or systems"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.26/",
                        "text": "G026 Malfunction of devices or systems"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.27/",
                        "text": "G027 Lack of resources"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.28/",
                        "text": "G028 Software vulnerabilities or errors"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.29/",
                        "text": "G029 Violation of laws or regulations"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.30/",
                        "text": "G030 Unauthorized use or administration of devices and systems"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.31/",
                        "text": "G031 Incorrect use or administration of devices and systems"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.32/",
                        "text": "G032 Abuse of permissions"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.33/",
                        "text": "G033 personal injury"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.34/",
                        "text": "G034 stop"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.35/",
                        "text": "G035 coercion, blackmail or corruption"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.36/",
                        "text": "G036 Identity theft"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.37/",
                        "text": "G037 denying actions"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.38/",
                        "text": "G038 Misuse of personal data"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.39/",
                        "text": "G039 malicious program"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.40/",
                        "text": "G040 Denial of Service"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.41/",
                        "text": "G041 Sabotage"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.42/",
                        "text": "G042 Social engineering"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.43/",
                        "text": "G043 Importing messages"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.44/",
                        "text": "G044 Unauthorized intrusion into premises"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.45/",
                        "text": "G045 data loss"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.46/",
                        "text": "G046 Loss of integrity of sensitive information"
                    },
                    {
                        "url": "http://localhost:8000/bsi/threats/G0.47/",
                        "text": "G047 Harmful side effects of IT-based attacks"
                    }
                ]
            }
        ]
    },
    {
        "text": "implementation notes",
        "nodes": [
            {
                "text": "ISMS: Security Management",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/ISMS.1/",
                        "text": "ISMS.1 security management"
                    }
                ]
            },
            {
                "text": "NET: networks and communication",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/NET.2.1/",
                        "text": "NET.2.1 WLAN operation"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/NET.2.2/",
                        "text": "NET.2.2 Wi-Fi usage"
                    }
                ]
            },
            {
                "text": "APP: Applications",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/APP.1.1/",
                        "text": "APP.1.1 Office products"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/APP.2.2/",
                        "text": "APP.2.2 Active Directory"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/APP.3.1/",
                        "text": "APP.3.1 Web applications"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/APP.3.6/",
                        "text": "APP.3.6 DNS server"
                    }
                ]
            },
            {
                "text": "SYS: IT systems",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.1.1/",
                        "text": "SYS.1.1 General Server"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.1.2.2/",
                        "text": "SYS.1.2.2 Windows Server 2012"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.2.1/",
                        "text": "SYS.2.1 General Client"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.3.1/",
                        "text": "SYS.3.1 laptops"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.3.2.2/",
                        "text": "SYS.3.2.2 Mobile Device Management (MDM)"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.3.2.3/",
                        "text": "SYS.3.2.3 iOS (for Enterprise)"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.3.4/",
                        "text": "SYS.3.4 Mobile Disk"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.4.1/",
                        "text": "SYS.4.1 printers, copiers and multifunction devices"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/SYS.4.4/",
                        "text": "SYS.4.4 General IoT device"
                    }
                ]
            },
            {
                "text": "IND: Industrial IT",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/IND.1/",
                        "text": "IND.1 Operating and Control Technology"
                    }
                ]
            },
            {
                "text": "ORP: organization and staff",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/ORP.1/",
                        "text": "ORP.1 organization"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/ORP.2/",
                        "text": "ORP.2 staff"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/ORP.3/",
                        "text": "ORP.3 Raising awareness and training"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/ORP.5/",
                        "text": "ORP.5 Compliance Management (Requirements Management)"
                    }
                ]
            },
            {
                "text": "DER: detection and reaction",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/DER.2.3/",
                        "text": "DER.2.3 Clearance of far-reaching security incidents"
                    }
                ]
            },
            {
                "text": "CON: conception and procedure",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/CON.3/",
                        "text": "CON.3 data backup concept"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/CON.4/",
                        "text": "CON.4 Selection and use of standard software"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/CON.7/",
                        "text": "CON.7 Information security on trips abroad"
                    }
                ]
            },
            {
                "text": "OPS: operation",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.1.1.2/",
                        "text": "OPS.1.1.2 Proper IT Administration"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.1.1.3/",
                        "text": "OPS.1.1.3 Patch and Change Management"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.1.2.3/",
                        "text": "OPS.1.2.3 Information and data medium exchange"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.1.2.4/",
                        "text": "OPS.1.2.4 Teleworking"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.2.1/",
                        "text": "OPS.2.1 Outsourcing for customers"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.2.4/",
                        "text": "OPS.2.4 remote maintenance"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/OPS.3.1/",
                        "text": "OPS.3.1 Outsourcing for service providers"
                    }
                ]
            },
            {
                "text": "INF: Infrastructure",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/INF.1/",
                        "text": "INF.1 General Building"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/INF.3/",
                        "text": "INF.3 Electronic wiring"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/INF.4/",
                        "text": "INF.4 IT cabling"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/INF.8/",
                        "text": "INF.8 Domestic Workplace"
                    },
                    {
                        "url": "http://localhost:8000/bsi/implementationNotes/INF.9/",
                        "text": "INF.9 Mobile Workplace"
                    }
                ]
            }
        ]
    },
    {
        "text": "Components",
        "nodes": [
            {
                "text": "ISMS: Security Management",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/ISMS.1/",
                        "text": "ISMS.1 security management"
                    }
                ]
            },
            {
                "text": "NET: networks and communication",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/NET.1.1/",
                        "text": "NET.1.1 Network architecture and design"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/NET.1.2/",
                        "text": "NET.1.2 Network Management"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/NET.2.1/",
                        "text": "NET.2.1 WLAN operation"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/NET.2.2/",
                        "text": "NET.2.2 Wi-Fi usage"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/NET.3.1/",
                        "text": "NET.3.1 routers and switches"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/NET.3.2/",
                        "text": "NET.3.2 firewall"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/NET.3.3/",
                        "text": "NET.3.3 VPN"
                    }
                ]
            },
            {
                "text": "APP: Applications",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/APP.1.1/",
                        "text": "APP.1.1 Office products"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.1.2/",
                        "text": "APP.1.2 Web browser"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.2.1/",
                        "text": "APP.2.1 General directory service"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.2.2/",
                        "text": "APP.2.2 Active Directory"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.3.1/",
                        "text": "APP.3.1 Web applications"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.3.2/",
                        "text": "APP.3.2 Web server"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.3.3/",
                        "text": "APP.3.3 file server"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.3.4/",
                        "text": "APP.3.4 Samba"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.3.6/",
                        "text": "APP.3.6 DNS server"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.4.3/",
                        "text": "APP.4.3 Relational Database Systems"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.5.1/",
                        "text": "APP.5.1 General Groupware"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/APP.5.2/",
                        "text": "APP.5.2 Microsoft Exchange and Outlook"
                    }
                ]
            },
            {
                "text": "SYS: IT systems",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.1.1/",
                        "text": "SYS.1.1 General Server"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.1.2.2/",
                        "text": "SYS1.2.2 Windows Server 2012"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.1.3/",
                        "text": "SYS.1.3 server under Unix"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.1.5/",
                        "text": "SYS.1.5 Virtualization"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.1.8/",
                        "text": "SYS.1.8 Storage Solutions"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.2.1/",
                        "text": "SYS.2.1 General Client"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.2.2.2/",
                        "text": "SYS.2.2.2 Clients in Windows 8.1"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.2.2.3/",
                        "text": "SYS.2.2.3 Clients on Windows 10"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.2.3/",
                        "text": "SYS.2.3 clients under Unix"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.3.1/",
                        "text": "SYS.3.1 laptops"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.3.2.1/",
                        "text": "SYS.3.2.1 General Smartphones and Tablets"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.3.2.2/",
                        "text": "SYS.3.2.2 Mobile Device Management (MDM)"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.3.2.3/",
                        "text": "SYS.3.2.3 iOS (for Enterprise)"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.3.2.4/",
                        "text": "SYS.3.2.4 Android"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.3.4/",
                        "text": "SYS.3.4 Mobile Disk"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.4.1/",
                        "text": "SYS.4.1 printers, copiers, and multi-function devices"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/SYS.4.4/",
                        "text": "SYS.4.4 General IoT device"
                    }
                ]
            },
            {
                "text": "IND: Industrial IT",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/IND.1/",
                        "text": "IND.1 Operating and Control Technology"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/IND.2.1/",
                        "text": "IND.2.1 General ICS Component"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/IND.2.2/",
                        "text": "IND.2.2 Programmable Logic Controller (PLC)"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/IND.2.3/",
                        "text": "IND.2.3 Sensors and Actuators"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/IND.2.4/",
                        "text": "IND.2.4 machine"
                    }
                ]
            },
            {
                "text": "ORP: organization and staff",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/ORP.1/",
                        "text": "ORP.1 organization"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/ORP.2/",
                        "text": "ORP.2 staff"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/ORP.3/",
                        "text": "ORP.3 Raising awareness and training"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/ORP.4/",
                        "text": "ORP.4 Identity and Permission Management"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/ORP.5/",
                        "text": "ORP.5 Compliance Management (Requirements Management)"
                    }
                ]
            },
            {
                "text": "DER: detection and reaction",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/DER.1/",
                        "text": "DER.1 Detection of safety-relevant events"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/DER.2.1/",
                        "text": "DER.2.1 Treatment of security incidents"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/DER.2.2/",
                        "text": "DER.2.2 Provision for IT forensics"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/DER.2.3/",
                        "text": "DER.2.3 Clearance of far-reaching security incidents"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/DER.3.1/",
                        "text": "DER.3.1 Audits and revisions"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/DER.3.2/",
                        "text": "DER.3.2 IS revision for public authorities"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/DER.4/",
                        "text": "DER.4 emergency management"
                    }
                ]
            },
            {
                "text": "CON: conception and procedure",
                "nodes": [
                    {
                        "text": "CON.1 crypto concept"
                    },
                    {
                        "text": "CON.2 Privacy Policy"
                    },
                    {
                        "text": "CON.3 data backup concept"
                    },
                    {
                        "text": "CON.4 Selection and use of standard software"
                    },
                    {
                        "text": "CON.5 Development and use of specialized applications"
                    },
                    {
                        "text": "CON.6 Delete and Destroy"
                    },
                    {
                        "text": "CON.7 Information security on trips abroad"
                    }
                ]
            },
            {
                "text": "OPS: operation",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.1.2/",
                        "text": "OPS.1.1.2 Proper IT Administration"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.1.3/",
                        "text": "OPS.1.1.3 Patch and Change Management"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.1.4/",
                        "text": "OPS.1.1.4 Protection against malicious programs"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.1.5/",
                        "text": "OPS.1.1.5 logging"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.1.6/",
                        "text": "OPS.1.1.6 software tests and releases"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.2.2/",
                        "text": "OPS.1.2.2 Archiving"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.2.3/",
                        "text": "OPS.1.2.3 Information and data medium exchange"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.1.2.4/",
                        "text": "OPS.1.2.4 Teleworking"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.2.1/",
                        "text": "OPS.2.1 Outsourcing for customers"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.2.4/",
                        "text": "OPS.2.4 remote maintenance"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/OPS.3.1/",
                        "text": "OPS.3.1 Outsourcing for service providers"
                    }
                ]
            },
            {
                "text": "INF: Infrastructure",
                "nodes": [
                    {
                        "url": "http://localhost:8000/bsi/components/INF.1/",
                        "text": "INF.1 General Building"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.2/",
                        "text": "INF.2 data center and server room"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.3/",
                        "text": "INF.3 Electronic wiring"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.4/",
                        "text": "INF.4 IT cabling"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.7/",
                        "text": "INF.7 office workplace"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.8/",
                        "text": "INF.8 Domestic Workplace"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.9/",
                        "text": "INF.9 Mobile Workplace"
                    },
                    {
                        "url": "http://localhost:8000/bsi/components/INF.10/",
                        "text": "INF.10 Meeting, Event and Training Room"
                    }
                ]
            }
        ]
    }
];

            return data;
        }

        </script>

