

  <div class="fading-side-menu" data-spy="" data-offset-top="350">
                <h4>Table of Contents</h4>
                <hr class="no-margin">
                <div class="row">
                    <div class="col-md-12">
                        <button onclick="expandAll()" title="Expand All"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button onclick="collapseAll()" title="Collapse All"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    </div>
                </div>
                <div id="treeview1"></div>

            </div>




  <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(
                function() {
                     if(localStorage.getItem('selectedNode') !== null){
                         var stringNode = JSON.parse(localStorage.getItem('selectedNode'));
                         var expandedNode = findExpandibleNodess(stringNode);
                         $('#treeview1').treeview('expandNode', [ expandedNode[0], {silent: true } ]);
                       }
                }, 1000);
        });

        function expandAll() {
            $('#treeview1').treeview('expandAll', { silent: true });
        }

        function collapseAll() {
            $('#treeview1').treeview('collapseAll', { silent: true });
        }

        function findExpandibleNodess(expandNode) {
          return $('#treeview1').treeview('search', [expandNode, { ignoreCase: true, exactMatch: true } ]);
        };

        $(function () {
            $('#treeview1').treeview({
                levels: 1,
                data: getData(),
                enableLinks: true,
                selectedBackColor: '#337ab7'
            })


            $('#treeview1').on('nodeSelected', function(event, data) {
                setValid(true);
                localStorage.setItem('selectedNode',JSON.stringify(data.text))
            });
        });



        function getData() {
            return $.ajax({
                url: '/_treeview/gettreeview/',
                async:false
            }).responseText

        }








        {#console.log(data[1].nodes[1].nodes[1].url)#}

</script>
