### 3.1 Basic requirements
#### ORP.5.A1 Identification of the legal framework [Head of Organization, Head of Institution]
#### ORP.5.A2 Observance of legal framework conditions [Supervisors, Head of Organization, Institution Management]
#### ORP.5.A3 Employee commitment to comply with applicable laws, regulations and regulations [Supervisor, Human Resources]
### 3.2 Standard requirements
#### ORP.5.A4 Conception and Organization of Compliance Management [Institutional Management]
#### ORP.5.A5 Exemptions [Supervisors, Information Security Officer (ISB)]
#### ORP.5.A6 Instructing the staff in the safe handling of IT [Supervisors, Human Resources]
#### ORP.5.A7 Maintaining Information Security [Information Security Officer (ISB)]
#### ORP.5.A8 Regular reviews of Compliance Management
### 3.3 Requirements for increased protection requirements
#### ORP.5.A9 Protection against subsequent changes to information [Information Security Officer (ISB), user] (I)
#### ORP.5.A10 Classification of Information (CIA)
#### ORP.5.A11 Survey of the legal framework for cryptographic processes and products [IT operation, person responsible for the individual applications] (CI)
